<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://mybatis.org/schema/mybatis-spring 
        http://mybatis.org/schema/mybatis-spring-1.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:property-placeholder location="classpath:database.properties" />

	<context:annotation-config />
	<!-- <context:component-scan base-package="com.todoApp" /> -->
	<mybatis:scan base-package="com.todoApp" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- Type Aliases : Comma separated list of package names that needs to 
			be scanned and creates aliases for java beans using the default aliasing 
			rule -->
		<property name="typeAliasesPackage" value="com.todoApp.domain" />
		<!-- Type Handlers : comma-separated list of package names, which needs 
			to scanned for the type handler classes using the default aliasing rule -->
		<!-- <property name="typeHandlersPackage" value="com.mybatis3.typehandlers" 
			/> -->
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- <aop:aspectj-autoproxy/> -->
	<aop:config proxy-target-class="true" />
	<bean id="bookMapper" class="com.todoApp.dao.impl.BookDaoImpl">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="bookService" class="com.todoApp.service.impl.BookServiceImpl">
		<property name="bookMapper" ref="bookMapper" />
	</bean>

</beans>